<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Mambo Journals
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <!-- <ion-item *ngFor="let entry of journalListRef$ | async">
      <ion-list-header *ngIf="(entry.date != '2018-Sept-6')">{{entry.date}}</ion-list-header>
      <ion-item *ngFor="let entry of journalListRef$ | async">
          <ion-avatar item-start>
            <img src="assets/imgs/logo.png">
          </ion-avatar>
          <h2 style="font-family: Georgia, serif; font-weight: bold">{{entry.title}}</h2>
          <p>{{entry.content}}</p>
      </ion-item>
  </ion-item> -->

  <ion-list>
      <ion-list-header>Date</ion-list-header>
      <ion-item *ngFor="let entry of journalListRef$ | async">
          <ion-avatar item-start>
            <img src="assets/imgs/logo.png">
          </ion-avatar>
          <h2 style="font-family: Georgia, serif; font-weight: bold">{{entry.title}}</h2>
          <p>{{entry.content}}</p>
      </ion-item>
  </ion-list>


  <ion-fab right bottom margin="15px" (click)="newEntry()">
      <button ion-fab color="secondary"><ion-icon name="add"></ion-icon></button>
  </ion-fab>
    
</ion-content>
